.form {
  display: grid;
  width: 350px;
  gap: 15px;
  margin-top: 20px;
}

.form__field {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form__label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.form__error {
  font-size: 0.8rem;
  line-height: 1;
  color: rgb(145, 16, 16);
}

.form__options {
  display: flex;
  gap: 10px;
}

.form__image-input {
  display: none;
}

.form__input {
  width: 100%;
}

.form__input[type='checkbox'] {
  width: fit-content;
}

.form__input[type='file'] {
  display: none;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
}

.form__field:has(.form__image-input) {
  justify-self: center;
}

.form__image-label {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid var(--contrast-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form__image-label:hover {
  background-color: var(--secondary-color);
}
