.small-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 15px;
  border: 1px var(--secondary-color) solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
}

.small-card__name {
  font-size: 1.5rem;
  text-transform: capitalize;
}

@media (max-width: 680px) {
  .small-card {
    padding: 10px;
  }
}

@media (hover: hover) {
  .small-card:hover:has(:not(.skeleton)) {
    background-color: var(--secondary-color);
  }
}
