.skeleton {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.gallery__skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.skeleton.name {
  width: 25%;
  height: calc(1.5rem * 1.23);
}

.skeleton.description {
  width: 100%;
  height: calc(1rem * 1.23);
}

.skeleton.detailed-card__header {
  height: 1.7rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.skeleton.detailed-card__weight {
  height: 1.25rem;
}

.skeleton.stats-range {
  height: 1.1rem;
  width: 100%;
}

.skeleton-wrapper {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.detailed-card.skeleton-wrapper {
  height: fit-content;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shimmer {
  width: 50%;
  height: 100%;
  background-color: var(--contrast-color);
  opacity: 0.05;
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

.small-card .shimmer-wrapper {
  animation: loading-horizontal 2.5s infinite;
}

.detailed-card .shimmer-wrapper {
  animation: loading-vertical 1.5s infinite;
}

@keyframes loading-horizontal {
  0% {
    transform: translateX(-150%);
  }

  50% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(150%);
  }
}

@keyframes loading-vertical {
  0% {
    transform: translateX(-150%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(150%);
  }
}

@media (max-width: 690px) {
  .skeleton.stats-range {
    height: 2.2rem;
  }

  .skeleton.detailed-card__header {
    width: 50%;
  }
}
