.header {
  display: flex;
  gap: 50px;
  align-items: end;
  margin-top: 1rem;
}

.header__text {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 2rem;
  margin: 0;
}

.header__controls {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.header__get-error {
  height: 100%;
  font-size: 1rem;
  white-space: nowrap;
  min-width: fit-content;
  min-height: calc(2rem + 20px);
}

@media (max-width: 992px) {
  .header {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  .header__controls {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header__controls {
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  .header__get-error {
    width: 100%;
  }
}

@media (hover: hover) {
  .header__get-error:hover {
    background-color: var(--secondary-color);
  }
}
