.stats-range {
  display: flex;
  gap: 15px;
  align-items: center;
}

.stats-range__label {
  flex: 1;
}

.stats-range__range {
  width: 300px;
  height: 15px;
}

@media (max-width: 690px) {
  .stats-range__range {
    width: 250px;
    height: 10px;
  }
}

@media (max-width: 480px) {
  .stats-range__range {
    width: auto;
  }
}
