.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 5px;
}

.header__nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
