.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery__header {
  font-size: 2rem;
}

.gallery__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.gallery__error-message {
  font-size: 1.5rem;
}
